{% extends 'base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}
    {% verbatim %}
    <main id="main" class="container-sm mt-5 shadow-lg p-3 mb-5 bg-white rounded">
        <div class="col-md-8" v-for="i in orders">
            <div class="card mb-3">
                <div class="alert alert-success" role="alert">
                    <h6 class="alert-heading d-inline" v-for="j in i.products">
                        {{ j.product }}
                        {{ j.final_price }}
                        {{ j.qty }}
                    </h6>
                    <p>Заказчик: {{ i.customer }}</p>
                    <p>Статус: {{ i.status }}</p>
                    <p>Цена: {{ i.final_price }}</p>
                </div>
            </div>
        </div>
    </main>
    {% endverbatim %}
    <script>


    </script>
{% endblock content %}